<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CyberSurvivalJava">
        <activity
            android:name=".ScoreDetailsActivity"
            android:exported="false" />
        <!-- Revert ScoreActivity to be a normal, non-launcher activity -->
        <activity
            android:name=".ScoreActivity"
            android:exported="false" /> <!-- Restore the original Launcher activity -->
        <activity
            android:name=".AdminPanel"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- PUZZLE (no launcher) -->
        <activity
            android:name=".PuzzleActivity"
            android:exported="false" /> <!--Toggle this to true and edit configuration to puzzle to launch activity directly -->
        <activity android:name=".SatelliteActivity" android:exported="false" />
            android:exported="false" />
    </application>

</manifest>